/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-margin-top: 200px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans";
  background: #fff;
  color: #201830;
}

button, input {
  border: none;
  outline: none;
  background: currentColor;
}

.btn {
  padding: 0 28px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #201830;
  color: #fff;
  font-weight: 600;
  line-height: 3;
}
.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

.section__heading {
  color: #201830;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.24; /* 123.81% */
}
.section__heading + .section__desc {
  margin-top: 18px;
}

.section__desc {
  color: #665f73;
  line-height: 1.75; /* 175% */
}

.dots {
  margin: 55px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.dots .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #D8D5DE;
}
.dots .dot.active {
  width: 12px;
  height: 12px;
  background: #936CDD;
}

.line-decoration {
  width: 40%;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0 {
  --grid-gutter-x: 0px;
  --grid-gutter-y: 0px;
}

.gx-0 {
  --grid-gutter-x: 0px;
}

.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1 {
  --grid-gutter-x: 7.5px;
  --grid-gutter-y: 7.5px;
}

.gx-1 {
  --grid-gutter-x: 7.5px;
}

.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2 {
  --grid-gutter-x: 15px;
  --grid-gutter-y: 15px;
}

.gx-2 {
  --grid-gutter-x: 15px;
}

.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3 {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
}

.gx-3 {
  --grid-gutter-x: 30px;
}

.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4 {
  --grid-gutter-x: 45px;
  --grid-gutter-y: 45px;
}

.gx-4 {
  --grid-gutter-x: 45px;
}

.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5 {
  --grid-gutter-x: 90px;
  --grid-gutter-y: 90px;
}

.gx-5 {
  --grid-gutter-x: 90px;
}

.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
.header {
  padding: 42px 0 20px;
  position: sticky;
  top: -22px;
  background: #FFF8F3;
  box-shadow: 0 1px 0 #ccc;
  z-index: 999;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav-list {
  margin-left: auto;
  margin-right: 192px;
  display: flex;
  gap: 48px;
}
.header-nav-list li {
  color: #665f73;
  line-height: 1.75; /* 175% */
}
.header-nav-list li:hover {
  color: #000;
  text-shadow: 0.4px 0.4px 0 #000;
}
.header-button {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header-button__login {
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.hero {
  background: #FFF8F3;
  padding: 90px 0 140px;
}
.hero .container > .row {
  align-items: center;
}
.hero-img {
  width: 100%;
  aspect-ratio: 270/302;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.hero-item1 .hero-img {
  position: relative;
}
.hero-item1 .hero-img__audio {
  width: 71.85%;
  aspect-ratio: 194/60;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  z-index: 888;
}
.hero-item1 .hero-img__audio img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0.1px 10000px #a4a0ab;
}
.hero-item1 .hero-img + p {
  margin-top: 53px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
}
.hero-decoration {
  width: 30.37%;
  aspect-ratio: 1/1;
  background: #FF9051;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -27.1%;
  right: 25.93%;
}
.hero-decoration span:first-child {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1; /* 100% */
}
.hero-decoration span:nth-child(2) {
  margin-top: 4px;
  color: #ffefe7;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}
.hero-decoration svg {
  position: absolute;
}
.hero-decoration svg:first-of-type {
  top: 43.9%;
  left: -76.83%;
}
.hero-decoration svg:last-of-type {
  top: 115%;
  left: 47.56%;
}
.hero-item2 {
  position: relative;
}
.hero-item2 .hero-directories {
  margin-top: 102px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.hero-item2 .hero-img {
  position: relative;
}
.hero-item2 .hero-img .caption {
  width: 71.85%;
  aspect-ratio: 194/60;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5.3%;
  left: 50%;
  translate: -50% 0;
}
.hero-item2 .hero-img .caption__heading {
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-item2 .hero-img .caption__desc {
  color: #665f73;
  font-size: 1.2rem;
}
.hero-contents {
  position: relative;
  z-index: 0;
}
.hero-contents__decoration {
  position: absolute;
  z-index: -1;
  width: 69.79%;
  top: 32.55%;
  left: 7%;
}
.hero__title {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.14; /* 114.286% */
  z-index: 2;
}
.hero__desc {
  margin-top: 20px;
  color: #665f73;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero-cta {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.hero-cta__btn {
  margin-right: 28px;
  height: 64px;
  border-radius: 8px;
  background: #936cdd;
  font-size: 1.8rem;
  line-height: 3.5555555556; /* 166.667% */
}
.hero-cta__play {
  margin-right: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero-cta img {
  margin-bottom: -4px;
}
.hero .listener-avatar {
  margin-top: 10px;
}
.hero .listener-avatar img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  outline: 2px solid #fff;
}
.hero .listener-avatar a + a {
  margin-left: -20px;
}

.trending {
  margin-top: 160px;
}
.trending .container {
  align-items: center;
}
.trending-contents {
  position: relative;
}
.trending__cta {
  margin-top: 38px;
  height: 64px;
  border-radius: 8px;
  background: #936cdd;
  font-size: 1.8rem;
  line-height: 3.5555555556; /* 166.667% */
}
.trending__cta svg {
  margin-bottom: -4px;
  margin-left: 8px;
}
.trending-directories {
  width: 100%;
  aspect-ratio: 570/399;
  position: relative;
}
.trending-directories img {
  position: absolute;
}
.trending-directories img:nth-child(1) {
  width: 25.96%;
  top: 0;
  left: 32.45%;
}
.trending-directories img:nth-child(2) {
  width: 17.54%;
  right: 0;
  top: 14.78%;
}
.trending-directories img:nth-child(3) {
  width: 24.21%;
  right: 8.42%;
  bottom: 10%;
}
.trending-directories img:nth-child(4) {
  width: 22.1%;
  bottom: 0;
  left: 29.65%;
}
.trending-directories img:nth-child(5) {
  width: 14%;
  left: 0;
  top: 41.1%;
}
.trending-directories__bg {
  height: 71.93%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #FF9051;
  filter: blur(129px);
  opacity: 0.4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.category {
  margin-top: 160px;
}
.category-contents {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.category__heading {
  text-align: center;
}
.category__desc {
  text-align: center;
}
.category-items {
  margin-top: 70px;
}
.category-item {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  background: #ccc;
  position: relative;
}
.category-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-item .caption {
  width: 100%;
  height: 86px;
  padding: 16px 24px 0;
  flex-shrink: 0;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
}
.category-item .caption svg {
  margin-left: 6px;
  margin-bottom: -3px;
}
.category-item .caption__heading {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.category-item .caption__desc {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.71; /* 171.429% */
}
.category-item.one {
  height: 600px;
  position: relative;
}
.category-item.three, .category-item.five {
  height: 285px;
}
.category-item.two, .category-item.four {
  height: 285px;
}
.category-btn {
  display: flex;
  justify-content: center;
  margin: 55px auto 0;
}
.category-btn a {
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.5555555556; /* 166.667% */
}

.episodes {
  padding: 100px 0;
  margin-top: 160px;
  background-color: #FFF8F3;
  scroll-margin-top: 70px;
}
.episodes .container .row:nth-child(1) {
  position: relative;
  z-index: 0;
}
.episodes__heading {
  max-width: 400px;
}
.episodes-btn {
  margin-left: auto;
  height: 64px;
  border-radius: 8px;
  font-size: 1.8rem;
  line-height: 3.5555555556; /* 166.667% */
}
.episodes .container .row:nth-child(2) {
  margin-top: 84px;
}
.episodes .container .row:nth-child(2) .row {
  align-items: center;
}
.episodes-item__img {
  aspect-ratio: 270/286;
  border-radius: 8px;
  overflow: hidden;
}
.episodes-item__img a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.episodes-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.episodes-item__duration {
  color: #fd6f1f;
  font-size: 1.4rem;
  line-height: 1.71; /* 171.429% */
}
.episodes-item__heading {
  margin-top: 6px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5; /* 150% */
}
.episodes-item__desc {
  margin-top: 18px;
}
.episodes-item__link {
  margin-top: 11px;
  color: #936cdd;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
}
.episodes-item__link svg {
  margin-left: 6px;
  margin-bottom: -4px;
}

.feedback {
  margin-top: 168px;
}
.feedback .container > .row {
  align-items: center;
}
.feedback-images {
  position: relative;
}
.feedback__img {
  border-radius: 8px;
  overflow: hidden;
}
.feedback__img.focus {
  width: 67%;
  aspect-ratio: 370/444;
  margin-left: auto;
}
.feedback__img.nofocus {
  width: 50%;
  aspect-ratio: 270/284;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
.feedback__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feedback .dots {
  position: absolute;
  bottom: 0;
  left: 16.67%;
}
.feedback-contents {
  position: relative;
}
.feedback-contents .line-decoration {
  top: 70px;
}
.feedback__heading {
  margin-top: 18px;
}
.feedback__desc {
  margin-top: 38px;
}
.feedback__author {
  display: inline-block;
  margin-top: 18px;
  color: #aba6b5;
  font-size: 1.4rem;
  line-height: 1.71; /* 171.429% */
}
.feedback-contents__decoration {
  width: 287px;
  height: 287px;
  border-radius: 50%;
  opacity: 0.4;
  background: #FF9051;
  filter: blur(129px);
  z-index: -1;
  position: absolute;
  right: -100%;
  bottom: 30%;
}

.cta {
  margin-top: 160px;
}
.cta .container > * {
  padding: 100px 0;
  background: #201830;
  border-radius: 12px;
  position: relative;
}
.cta-contents {
  position: relative;
  z-index: 0;
}
.cta__heading {
  color: #fff;
}
.cta__desc {
  color: #aba6b5;
}
.cta .container > .row {
  align-items: center;
}
.cta form {
  margin-top: 70px;
}
.cta-input {
  width: 100%;
  height: 64px;
  padding: 0 28px;
  border-radius: 8px;
  background: #2b213f;
  color: #fff;
  font-size: 1.6rem;
}
.cta-input::placeholder {
  color: #aba6b5;
  font-size: 1.6rem;
  line-height: 28px; /* 175% */
}
.cta-btn {
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #936cdd;
  font-size: 1.8rem;
  line-height: 3.5555555556; /* 166.667% */
}

.star1 {
  position: absolute;
  top: 26px;
  left: 45%;
}

.star2 {
  position: absolute;
  right: 26px;
  top: 40%;
}

.star3 {
  position: absolute;
  bottom: 45px;
  left: 35px;
}

.footer {
  background: #FFF8F3;
  padding: 100px 0 40px;
}
.footer-main__copyright {
  margin-top: 14px;
  color: #665f73;
  line-height: 1.75; /* 175% */
}
.footer-main .social-media {
  margin-top: 18px;
  display: flex;
  gap: 14px;
}
.footer-main .social-media svg:hover {
  color: #936CDD;
}
.footer h3 {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5; /* 150% */
}
.footer-col a {
  margin-top: 16px;
  display: block;
  color: #665f73;
  line-height: 1.75; /* 175% */
}
.footer-col a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer-directories .list {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 992px) {
  .hide-on-pc {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .hide-on-tabmo {
    display: none;
  }
  .header {
    padding: 20px 0;
    top: 0;
  }
  .header-menu {
    width: 25px;
    margin-left: auto;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
    padding: 60px;
  }
  .menu-drawer .header-nav-list {
    flex-direction: column;
    font-size: 1.8rem;
    gap: 12px;
  }
  .menu-drawer .header-button {
    margin-top: 12px;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    font-size: 1.8rem;
  }
  .menu-drawer .header-button * {
    color: #665f73;
    font-weight: 500;
    text-decoration: underline;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }
  .header-menu__checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .header-menu__checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .hero {
    padding: 22px 0 30px;
  }
  .hero__title {
    font-size: 3.6rem;
    margin-top: 39px;
  }
  .hero__desc {
    font-size: 1.4rem;
  }
  .hero-contents__decoration {
    width: 53.79%;
    top: 28.55%;
    left: 1%;
  }
  .trending {
    margin-top: 100px;
  }
  .trending .container > .row {
    flex-wrap: wrap-reverse;
  }
  .trending__heading {
    margin-top: 38px;
    font-size: 26px;
  }
  .trending__heading img {
    width: 38.21%;
    top: 21.97%;
    left: -0.19%;
  }
  .trending__desc {
    margin-top: 12px;
    font-size: 1.4rem;
  }
  .trending__cta {
    margin-top: 28px;
  }
  .category {
    margin-top: 100px;
  }
  .category__heading {
    font-size: 2.6rem;
  }
  .category__heading img {
    width: 122px;
  }
  .category__desc {
    font-size: 1.4rem;
  }
  .category-items {
    margin-top: 38px;
  }
  .category-item.three, .category-item.four {
    max-width: 270px;
    margin: 0 auto;
  }
  .episodes {
    padding: 70px 0;
    margin-top: 100px;
  }
  .episodes__heading {
    font-size: 2.6rem;
    max-width: 340px;
  }
  .episodes__heading img {
    width: 35.64%;
    left: 3.82%;
    top: 83.38%;
  }
  .episodes .container > .row:nth-child(2) {
    margin-top: 38px;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .episodes-item__duration {
    font-size: 1rem;
  }
  .episodes-item__heading {
    margin-top: 7px;
    font-size: 1.2rem;
  }
  .episodes-item__desc {
    margin-top: 12px;
    font-size: 1rem;
  }
  .episodes-item__link {
    margin-top: 7px;
    font-size: 1rem;
  }
  .episodes-item__link svg {
    width: 10px;
    margin-left: 4px;
    margin-bottom: -6px;
  }
  .episodes .dots {
    margin-top: 18px;
  }
  .episodes-btn {
    margin-top: 38px;
  }
  .feedback {
    margin-top: 100px;
  }
  .feedback .container > .row {
    flex-wrap: wrap-reverse;
  }
  .feedback__heading {
    font-size: 2.6rem;
  }
  .feedback__heading img {
    width: 30.72%;
    left: 30%;
    top: 33.65%;
  }
  .feedback__desc {
    margin-top: 12px;
    font-size: 1.43rem;
  }
  .feedback__author {
    margin-top: 12px;
  }
  .feedback-images {
    margin-top: 28px;
  }
  .cta {
    margin-top: 100px;
  }
  .cta .container {
    padding: 0;
  }
  .cta .container > * {
    padding: 50px 15px;
  }
  .cta__heading {
    font-size: 2.6rem;
  }
  .cta__heading img {
    width: 24.12%;
    left: 236px;
    bottom: 27px;
  }
  .cta__desc {
    margin-top: 12px;
    font-size: 1.4rem;
  }
  .cta form .row {
    row-gap: 12px;
  }
  .cta form .row .cta-btn {
    margin-top: 6px;
  }
  .cta .star3 {
    bottom: 18px;
  }
  .footer {
    padding: 54px 0 50px;
  }
  .footer h3 {
    margin-top: 38px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  h2 img {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  h2 img {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
