@use "../abstracts/variables";

.episodes {
    padding: 100px 0;
    margin-top: 160px;
    background-color: variables.$primary-color;
    scroll-margin-top: 70px;
    .container .row:nth-child(1) {
        position: relative;
        z-index: 0;
    }
    &__heading {
        max-width: 400px;
    }
    &-btn {
        margin-left: auto;
        height: 64px;
        border-radius: 8px;
        font-size: 1.8rem;
        line-height: calc(6.4 / 1.8); /* 166.667% */
    }
    .container .row:nth-child(2) {
        margin-top: 84px;
        .row {
            align-items: center;
        } 
    }
    &-item{
        &:hover {
            box-shadow: 0 0 5px 1px rgb(255, 228, 179);
            border-radius: 8px;
        }
        &__img {
            aspect-ratio: 270 / 286;
            border-radius: 8px;
            overflow: hidden;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__duration {
            color: #fd6f1f;
            font-size: 1.4rem;
            line-height: 1.71; /* 171.429% */
        }
        &__heading {
            margin-top: 6px;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5; /* 150% */
        }
        &__desc {
            margin-top: 18px;
        }
        &__link {
            margin-top: 11px;
            color: #936cdd;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.71; /* 171.429% */
            svg {
                margin-left: 6px;
                margin-bottom: -4px;
            }
        }
    }
}
