@use "../abstracts/variables";

.footer {
    background: variables.$primary-color;
    padding: 100px 0 40px;
    &-main{
        &__copyright {
            margin-top: 14px;
            color: #665f73;
            line-height: 1.75; /* 175% */
        }
        .social-media {
            margin-top: 18px;
            display: flex;
            gap: 14px;
            svg:hover {
                color: #936CDD;
            }
        }
    }
    h3 {
        margin-bottom: 24px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5; /* 150% */
    }
    &-col a {
        margin-top: 16px;
        display: block;
        color: #665f73;
        line-height: 1.75; /* 175% */
        &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
    &-directories .list {
        display: flex;
        gap: 16px;
    }
}