@use "../abstracts/variables";

.header {
    padding: 42px 0 20px;
    position: sticky;
    top: -22px;
    background: variables.$primary-color;
    box-shadow: 0 1px 0 #ccc;
    z-index: 999;
    .container {
        display: flex;
        align-items: center;
    }
    &-nav-list {
        margin-left: auto;
        margin-right: 192px;
        display: flex;
        gap: 48px;
        li {
            color: #665f73;
            line-height: 1.75; /* 175% */
        }
        li:hover {
            color: #000;
            text-shadow: 0.4px 0.4px 0 #000;
        }
    }
    &-button {
        display: flex;
        align-items: center;
        gap: 28px;
        &__login {
            font-weight: 600;
            line-height: 1.75; /* 175% */
        }
    }
}